In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
source = requests.get(url).text
soup = BeautifulSoup(source)

table_contents=[]
table=soup.find('table')
for row in table.findAll('td'):
    cell = {}
    if row.span.text=='Not assigned':
        pass
    else:
        cell['PostalCode'] = row.p.text[:3]
        cell['Borough'] = (row.span.text).split('(')[0]
        cell['Neighborhood'] = (((((row.span.text).split('(')[1]).strip(')')).replace(' /',',')).replace(')',' ')).strip(' ').split(',')
        table_contents.append(cell)

# print(table_contents)
df=pd.DataFrame(table_contents)
df['Borough']=df['Borough'].replace({'Downtown TorontoStn A PO Boxes25 The Esplanade':'Downtown Toronto Stn A',
                                             'East TorontoBusiness reply mail Processing Centre969 Eastern':'East Toronto Business',
                                             'EtobicokeNorthwest':'Etobicoke Northwest','East YorkEast Toronto':'East York/East Toronto',
                                             'MississaugaCanada Post Gateway Processing Centre':'Mississauga'})

In [3]:
df.head()

  PostalCode           Borough                         Neighborhood
0        M3A        North York                          [Parkwoods]
1        M4A        North York                   [Victoria Village]
2        M5A  Downtown Toronto         [Regent Park,  Harbourfront]
3        M6A        North York  [Lawrence Manor,  Lawrence Heights]
4        M7A      Queen's Park      [Ontario Provincial Government]

In [4]:
df.shape

(103, 3)

In [5]:
liste = []

for i in (df[['Borough','Neighborhood']].values).tolist():
    liste.append([i[0],i[1:]])

In [6]:
liste2 = []
for i in liste:
    for j in i[1]:
        for k in j:
            liste2.append([i[0],k])

In [7]:
d1 = pd.DataFrame(liste2)

In [8]:
df['Borough'] = d1[0]
df['Neighborhood'] = d1[1]
df.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto       Regent Park
3        M6A  Downtown Toronto      Harbourfront
4        M7A        North York    Lawrence Manor

In [9]:
df.shape

(103, 3)

In [10]:
df2 = df[df['Borough'] != 'Not assigned'].reset_index(drop = True)
df3 = df[df['Neighborhood'] == 'Not assigned']

In [11]:
df2.shape,df3.shape

((103, 3), (0, 3))

In [ ]:
# Part 2
'-----------------------------------------------'

In [168]:
import sys
!conda install --yes --prefix {sys.prefix} geocoder

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - geocoder

Current channels:

  - https://repo.anaconda.com/pkgs/main/linux-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/linux-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.

In [18]:
data = pd.read_csv('/home/jaser/Geospatial_Coordinates.csv')
data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [36]:
df.sort_values('PostalCode',ignore_index=True,inplace=True)

In [38]:
df.head()

  PostalCode           Borough                   Neighborhood
0        M1B      Queen's Park  Ontario Provincial Government
1        M1C         East York               Woodbine Gardens
2        M1E         Etobicoke                   Martin Grove
3        M1G       Scarborough                     Port Union
4        M1H  Downtown Toronto                 St. James Town

In [42]:
df_new = pd.merge(df,data,on = df['PostalCode']).drop(['key_0','Postal Code'],axis=1)
df_new.head(10)

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Queen's Park,Ontario Provincial Government,43.806686,-79.194353
1,M1C,East York,Woodbine Gardens,43.784535,-79.160497
2,M1E,Etobicoke,Martin Grove,43.763573,-79.188711
3,M1G,Scarborough,Port Union,43.770992,-79.216917
4,M1H,Downtown Toronto,St. James Town,43.773136,-79.239476
5,M1J,Scarborough,Guildwood,43.744734,-79.239476
6,M1K,Scarborough,Woburn,43.727929,-79.262029
7,M1L,North York,Bathurst Manor,43.711112,-79.284577
8,M1M,West Toronto,Dufferin,43.716316,-79.239476
9,M1N,North York,York University,43.692657,-79.264848